
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by myself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Added it by myself*/
a, a:visited, a:hover, a:active {
  color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My CSS */
div.wrapper {
	width: 1030px;
	margin: 0 auto;
} 

body {
	background: #ffffff;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #6f7173;

}
h2 {
	font-size: 42px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0;
	background: #ffffff;
	font-size: 42px;
	color: #000000;
	padding: 24px 50px 24px 30px;
}
.logo	{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
    background-color: #5094f2;
    overflow: hidden;
	border-radius: 50%;
	text-align: center;
	vertical-align: bottom;
	margin-right: 15px;
}
.logo::before {
	content: "“";
	position: relative;
	color: #ffffff;
	top: 33.33%;
	font-size: 64px;
}
ul.nav-menu {
	display: flex;
	font-size: 16px;
	color: #6c6c6c;
	text-transform: uppercase;
	justify-content: flex-end;
	align-content: space-between;
}
div.top-content {
	display: flex;
	justify-content: center;
	align-items:  center;
	background-image: url("Img/dsfsdfsdfds.png");
	background-size: cover;
	height: 490px;
	color: #ffffff;
}
div.left-content {
	padding-left: 100px;
	line-height: 44px;
}
div.left-content > p {
	font-size: 26px;
	line-height: 44px;
}
div.left-content > p:last-of-type {
	padding-bottom: 40px;
}
button.sing-up  {
	background: #5094f2;
	border: none;
	padding: 10px;
	vertical-align: center;
	font-size: 22px;
	color: #ffffff;
}
button.sing-up:before {
	content: url("Img/singupicon.png");
	padding-right: 10px;
}

div.middle-content {
	display: flex;
	justify-content: space-around;
	padding: 60px 25px 100px 25px;
	font-size: 14px;
	text-align: center;
	line-height: 100%;
}
h4 {
	font-size: 20px;
	color: #5094f2;
	line-height: 44px;
}
div.cart-content {
	display: flex;
	justify-content: center;
}
div.big-cart > h2 {
	padding-bottom: 35px;
}
div.text-content {
padding-left: 95px;
font-size: 15px;
line-height: 36px;
padding-bottom: 65px;
}
h3 {
	padding-top: 55px;
	font-size: 26px;
	padding-bottom: 35px;
}
p.copyright {
	text-align: center;
	border-top:1px solid #cccccc;
	padding: 35px 0 45px 0;
}

.nav-menu> li {
	padding: 0 20px;
}
.iphone {
  width: 345px;
  height: 436px;
  z-index: 4;
}
